In [1]:
import mysql.connector
import pandas as pd
conn = mysql.connector.connect( host="localhost", user="root", password="Sh@lini262005", database="sales_db")

In [2]:
orders=pd.read_sql('Select * from orders',conn)
orders.head()

C:\Users\shali\AppData\Local\Temp\ipykernel_22620\2641572255.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders=pd.read_sql('Select * from orders',conn)

   order_id  customer_id product_name     category  amount  order_date
0         1            1       Laptop  Electronics  1200.0  2023-01-15
1         2            1        Mouse  Electronics    25.0  2023-01-18
2         3            2        Shoes      Fashion    80.0  2023-02-10
3         4            2        Phone  Electronics  1100.0  2023-03-05

In [3]:
query = """
SELECT o.order_id, c.name, o.amount, o.order_date
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
WHERE o.amount > 1000
"""
df_high_value=pd.read_sql(query,conn)
df_high_value.head()

C:\Users\shali\AppData\Local\Temp\ipykernel_22620\2293778750.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_high_value=pd.read_sql(query,conn)

   order_id   name  amount  order_date
0         1  Alice  1200.0  2023-01-15
1         4    Bob  1100.0  2023-03-05

In [4]:
chunk_size = 1000
chunks = pd.read_sql("SELECT * FROM orders", conn, chunksize=chunk_size)
for chunk in chunks:
    print(f"Processing chunk with {len(chunk)} rows...")

Processing chunk with 4 rows...

C:\Users\shali\AppData\Local\Temp\ipykernel_22620\1825513668.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  chunks = pd.read_sql("SELECT * FROM orders", conn, chunksize=chunk_size)

In [5]:
dtype_spec = {"order_id": "int32","amount": "float32","order_date": "object"}
df_orders_optimized = pd.read_sql("SELECT * FROM orders", conn, dtype=dtype_spec)
print("Memory usage (optimized):", df_orders_optimized.memory_usage().sum())

Memory usage (optimized): 292

C:\Users\shali\AppData\Local\Temp\ipykernel_22620\851542889.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_orders_optimized = pd.read_sql("SELECT * FROM orders", conn, dtype=dtype_spec)

In [6]:
df_high_value.to_csv("high_value_orders.csv", index=False)